@charset "utf-8";
p{
    font-size: 30px;
    margin-bottom: 80px;
}
h2{
    /* color: #ff0; */
}
.aaa{
    background: #000;
    color: #fff;
}
#bbb,.aaa{
    font-size: 80px;
}
.wrap>h2{
    /* border: 1px solid #00f; */
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: #f00;
    width: 600px;
    margin: 0 auto;
    margin: 50px 30px 10px 40px;

}